body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.App {
  text-align: center;
  border-radius: 20px;
  border: 5px solid darkgray;
  padding: 20px;
  background-color: grey;
  width: clamp(50vw, 400px, 100vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header, .Display, .Search{
  padding: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
